@import "tailwindcss";


.hero-section {
  background-image: url('./assets/banner_bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@font-face {
  font-family: "Gilroy";
  src: url("./assets/fonts/Gilroy-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("./assets/fonts/Gilroy-ExtraBold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Gilroy", system-ui, sans-serif;
}
